<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('components/head.ejs') %>
        <title>Test</title>
    </head>
    <body>
        <div class="container mt-5">
            <h1>This is a Admin Page</h1>
            <hr />
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum
                tempora molestias culpa nihil repellendus numquam ullam ipsam!
                Asperiores quis similique excepturi consequatur fugit ad optio
                error repellendus nulla blanditiis! Ullam quo eos expedita
                doloribus commodi ipsam nostrum neque repudiandae numquam
                recusandae, ab labore, alias est temporibus maiores hic? Earum,
                alias!
            </p>
            <a href="/logout" class="btn btn-danger">ออกจากระบบ</a>
        </div>
    </body>
</html>
